@use "../style/tokens";
@use "../style/fonts";

$base: ".ae-runner";

#{$base}__box {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 1em;
  padding: 0.25em 0;
  &--is-success {
    color: tokens.$color-green;
  }

  &--is-fail {
    color: tokens.$color-red;
  }
}

#{$base}__testid {
  @include fonts.body-sm;

  background-color: tokens.$color-accent;
  border-radius: 0.2em;
  color: white;
  padding: 0.1em 0.5em;
}

#{$base}__result {
  @include fonts.body-md;

  &--is-solution {
    @include fonts.title-lg;
  }
}
