@use "../style/tokens";
@use "../style/fonts";

$base: ".ae-runner";

#{$base} {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
}

#{$base}__desc {
  grid-column: span 2;
}

#{$base}__comment {
  grid-column: span 2;
}

#{$base}__box {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 1em;
  padding: 0 0 1em;
  &--is-success {
    color: tokens.$color-green;
  }

  &--is-fail {
    color: tokens.$color-red;
  }
}

#{$base}__testid {
  @include fonts.body-sm;
  line-height: 0.9em;
  background-color: tokens.$color-accent;
  border-radius: 0.2em;
  color: white;
  padding: 0.5em 1em;
}

#{$base}__result {
  @include fonts.body-md;

  &--is-solution {
    @include fonts.title-lg;
  }
}
