.ae-app {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 20fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "picker picker picker"
    "lside body rside"
    "footer footer footer";
  justify-items: center;
  margin: 0 auto;
  max-width: min(80%, 60em);
}

.ae-picker {
  grid-area: picker;
}

.ae-runner {
  grid-area: body;
}

.ae-blurb {
  grid-area: footer;
}
