.ae-app {
  display: grid;
  gap: 2em 0;
  grid-template-columns: 1fr 24fr 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "picker picker picker"
    "lside body rside"
    "lside debugger rside"
    "footer footer footer";
  justify-items: stretch;
}

.ae-picker {
  grid-area: picker;
}

.ae-runner {
  grid-area: body;
}

.ae-blurb {
  grid-area: footer;
}

.ae-debugger {
  grid-area: debugger;
  text-align: left;
  align-self: stretch;
  justify-self: stretch;
  white-space: pre;
  overflow: auto;
  max-height: 50vh;
}
